*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
   
}
.box1{
        display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-color:  #0B4F7A;
    animation-name: moving;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 20px  #2B9FD6;
}
@keyframes moving{
    from{
       transform: rotate(0deg) translatex(200px) rotate(0deg);
    }
    to{
     transform: rotate(360deg) translate(200px) rotate(-360deg);
    }
}
.box2{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color:  yellow;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 20px orange; 
}
